* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


h1 a {
    font-size: 7.5rem;
    font-family: serif;
    color: #534741;
    text-align: center;
    font-weight: 50;
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
    font-family: serif;
    color: #534741;
    text-align: center;
    font-weight: 50;
}

.oeverst {
    background-color: #eae5df;
    padding: 1.25rem;

}

h5 {
    font-size: 1.25rem;
    color: #534741;
   text-align: center;
   font-style: italic;
    margin-top: -1.5rem;
    position: relative;
    left: 7.8rem;
    margin-bottom: 1.25rem;
    font-family: bodoni, serif;
}

header {
    position: relative; /* Sikrer, at menuen kan placeres korrekt */
}

header .main-nav {
    font-family: bodoni, serif;
    background-color: rgba(171, 159, 143, 0.7); /* Baggrundsfarve for navigationsmenu */
    width: 100%; /* Fylder hele bredden */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional skygge */
   
}

header .main-nav ul {
    list-style: none;
    padding: 0; /* Fjerner standard padding */
    margin: 0; /* Fjerner standard margin */
    display: flex; /* Brug flexbox for at fordele menuen jævnt */
    justify-content: space-around; /* Fordeler menupunkterne ligeligt */
}

header .main-nav ul li {
    position: relative; /* Bevarer den relative position for dropdown-menuer */
}

header .main-nav ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

header .main-nav ul li {
    position: relative;
    float: left;
}

header .main-nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1.1rem;
    color: rgb(43, 8, 8);
    display: block;
    padding: 10px 20px; /* Mindre padding */
    line-height: 1.5; 
    width: 21.8rem;
    text-align: center;
    background: transparent;
}

header .main-nav ul li a:hover { /* når du holder musen over et element */
    background: #333;
    color: #eee;
}

.nav-1 {
    list-style: none;
    padding: 0;
    margin: 0.6rem;
    font-family: bodoni, serif;
}

.nav-1 li {
    display: inline-block;
    margin-right: 0.3px;
    
}

.nav-1 li a {
text-decoration: none;
color: #534741;
}

#Tips {
    color: #eee;
    background: #333;
    
}


header .main-nav ul li ul {
    position:absolute;
    left: 0;
    width: 21.8rem;
    background: rgba(250, 245, 239);
    display: none; /*dette gør at den forsviner, man kan ikke se det på hjemmesiden */
    z-index: 1000;
}

header .main-nav ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .main-nav ul li ul li ul {
    left: 12.5rem;
    top: 0;
}

/*herunder kan man se at jeg har skrevet ul, og skrevet en ny, så komma betyder at man vil style flere ting på samme tid*/

header .main-nav ul li:focus-within > ul, 
header .main-nav ul li:hover > ul {
display: block;
}

#menu-bar {
    display: none; /*display none fjerner noget så vi ikke kan se det, der var en lille checkbox, men er der ikke længere*/
}

header label {
    font-size: 1.25rem;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

header {
    padding: 1.25rem;
}

header label {
    display: block;
}

header .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: none;
}

header .main-nav ul li {
    width: 100%;
}

header .main-nav ul li ul {
    position: relative;
    width: 100%;
}

header .main-nav ul li ul li {
    background: #eee ;
}

header .main-nav ul li ul li ul {
    width: 100%;
    left: 0;
}

/*option og så knappen ved siden af Å*/

#menu-bar:checked~ .main-nav {
    display: block;
}

}

.diy-pude {
    background-color: #eae5df;

}

.diy-pude h2 {
    color: #eae5df;
    margin-top: -2.3rem;
    text-align: center;
}

#diylogo {
    background-color: #a0958c;
    color: #534741;
    display: inline-block;
    padding: 5px; /* Tilføjer lidt afstand mellem teksten og kanten af baggrunden */
    margin-left: 42rem;
    
}


h3 {
    font-family: bodoni, serif;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    color: #5a544f;
}

h4 {
    
    font-family: bodoni, serif;
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 1.25rem;
    font-weight: 100;
    color: #82756B;
    margin-bottom: 1rem;
    
}

.Opskriften {
    margin-left: 24.5rem;
    margin-bottom: 2rem;
}

#tekst {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    font-weight: 100;
    color: #5a544f;
    margin: 1rem;
    margin-left: 15rem;
    margin-right: 30rem;
    text-align:left;
    text-decoration: none;
}

.artikel-diy {
    display: flex;              /* Brug Flexbox */
    justify-content: center;    /* Horisontal centrering */
    align-items: center;        /* Vertikal centrering */
}

.artikel-diy img {
    display: block; /* Sørg for, at billedet opfører sig som et blok-element */
    max-width: 50%; /* Sørger for, at det ikke bliver for stort */
    height: auto;
    border: 2px solid #82756B;
    margin: 0 auto;

}

p {
    margin-left: 22.7rem;
    margin-right: 22.7rem;
    margin-bottom: 2rem;
}

#nr1 {
    margin-right: 17.5rem;
    font-family: bodoni, serif;
    font-size: 1.5rem;
}


#nr2 {
   text-align: start;
   margin-left: 23rem;
    font-family: bodoni, serif;
    font-size: 2.5rem;
    margin-bottom: -2rem;
   
}

#nr3 {
    text-align: start;
    font-family: bodoni, serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -1.5rem;
 }

 #tekst2 {
        margin-left: 22.7rem;
        margin-right: 19.2rem;
        margin-bottom: 3rem;
        border-bottom: 2px solid #82756B;
        padding-bottom: 2rem;
        
    
 }

.puder-img {
    display: flex; /* Gør containeren til en flex container */
    justify-content: space-around; /* Fordel billederne jævnt */
    margin-top: 3rem;
}



.puder-img img {
    display: inline-block;
    max-width: 40%; /* Sørger for, at hver figur ikke er for bred */
    text-align: center; /* Centrerer billedteksten */
    margin: 0; /* Fjern margin så billederne er tættere på hinanden */
    width: 25%; /* Gør billedet tilpasningsdygtigt til figurens bredde */
    height: auto; /* Sørger for, at billedet beholder proportionerne */
    border: 2px solid #82756B;
}

#pude1 {
    margin-left: 22rem;
    height: 25rem;
   
}

#trinfortrin {
    margin-right: 20rem;
    height: 25rem;
}

#produkt-img-sofa {
    width: 40%;
    height: auto;
    margin-left: 20rem;
}

#produkt-tekst1 {
    margin-left: 25rem;
    margin-right: 45rem;
    margin-bottom: 10rem;
}

#produkt-img-sofagraa {
    width: 40%;
    height: auto;
    margin-left: 35rem;
}

#produkt-tekst2 {
    margin-left: 45rem;
    margin-right: 25rem;
    margin-bottom: 5rem;
}

#Inspiration {
    margin-left: 25rem;
    margin-bottom: 3rem;
}


#tekst1 {
    color: #eae5df;
    background-color: #eae5df;
}

footer {
    background-color: #82756B;
    border-top: 1.5px solid #534741; /* Tilføjer en streg øverst */
    display: flex;             /* Flexbox for layout */
    justify-content: space-between; /* Fordeler elementerne i footeren */
    align-items: center;       /* Vertikal centrering */
    padding: 0 20px;           /* Giver lidt afstand indeni footeren */
    height: 6.25rem; 
}

.logo {
    width: 6.25rem;  /* Størrelse på logoet */
    height: auto;
}

.instalogo {
    width: 5rem;  /* Størrelse på Instagram logo */
    height: auto;
    margin: 0 auto; /* Dette vil placere instalogo i midten */
    margin-left: 65.6rem;
}

.fblogo {
    width: 5.9rem;  /* Størrelse på Instagram logo */
    height: auto;
    margin: 0; /* Dette vil placere instalogo i midten */
    
}

.maillogo {
    width: 5.9rem;
    height: auto;
}