* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../img/baggrund-kopi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.oeverst {
    color: rgb(243, 243, 239);
}

h1 {
    font-size: 120px;
    font-family: serif;
    color: #534741;
    text-align: center;
    font-weight: 50;
}

h5 {
    font-size: 20px;
    color: #534741;
   text-align: center;
   font-style: italic;
    margin-top: -20px;
    position: relative;
    left: 125px;
}

.forside2 {
   background-color: #82756B; 
   color: white;
   padding: 50px; 
    margin-top: 65vh;
}

.forside2 img {
    width: 50%; 
    height: auto;
    max-width: 300px; 
    margin-top: auto;
}



header .main-nav ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

header .main-nav ul li {
    position: relative;
    float: left;
}

header .main-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color: rgb(43, 8, 8);
    display: block;
}

header .main-nav ul li a:hover { /* når du holder musen over et element */
    background: #333;
    color: #fff;
}

header .main-nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none; /*dette gør at den forsviner, man kan ikke se det på hjemmesiden */
    z-index: 1000;
}

header .main-nav ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .main-nav ul li ul li ul {
    left: 200px;
    top: 0;
}

/*herunder kan man se at jeg har skrevet ul, og skrevet en ny, så komma betyder at man vil style flere ting på samme tid*/

header .main-nav ul li:focus-within > ul, 
header .main-nav ul li:hover > ul {
display: block;
}

#menu-bar {
    display: none; /*display none fjerner noget så vi ikke kan se det, der var en lille checkbox, men er der ikke længere*/
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

header {
    padding: 20px;
}

header label {
    display: block;
}

header .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: none;
    width: 100%; /* Sikrer at navigationsmenuen fylder hele bredden */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tilføjer skygge under menuen for dybde */
    
}

header .main-nav ul li {
    width: 100%;
}

header .main-nav ul li ul {
    position: relative;
    width: 100%;
}

header .main-nav ul li ul li {
    background: #eee ;
}

header .main-nav ul li ul li ul {
    width: 100%;
    left: 0;
}

/*option og så knappen ved siden af Å*/

#menu-bar:checked~ .main-nav {
    display: block;
}

}